# Dependencies
node_modules/
.pnpm-store/
.packed-packages/

# Builds
/dist/
/build/
/out/
.coverage/
**/coverage/
*.tsbuildinfo

# Logs
*.log
*.lock
pnpm-lock.yaml

# Env
.env
.env.*

# Generated
exports/
.badges/
.husky/_/
public/

